<div class="forward">
	<div location="weiboUrlContent"></div>：<div location="weiboContent"></div>
	<p id="retweetedimg6" class="img" location="imgContent">
	</p>
	<!--end big_img-->
	<p>
		<span class="right"><a
			onclick="forwardWeibo('' ,'' ,'' ,'' ,'2116182794' ,'王人平' ,'retweiboText6' , '','3494758661864495');"
			class="blue" href="#">转发(2,016)</a>|<a class="blue"
			href="/dsrm/dsrmUserWeibo/goMainDsrmOneWeibo?weiboId=3494758661864495">评论(225)</a></span>
		<a class="light_blue"
			href="/dsrm/dsrmUserWeibo/goMainDsrmOneWeibo?weiboId=3494758661864495">
			2012-09-27 06:34 </a> 来自 <a class="light_blue" href="#">新浪微博</a>
	</p>
</div>