<div class="list_c">
	<img src="../img/project/exm.jpg" class="list_img" />
	<div class="list_info">
		<p class="w_h" location="m_descript">搜索创意征求活动</p>
		<p class="w_p1">
			<span class="w_span1">金额：</span><span class="w_span2" location="m_bounty">3000万</span><span
				class="w_span1">目前参与人数：</span><span class="w_span2" location="m_people_number">20人</span>
		</p>
		<p class="w_p2">
		<ul>
		<li location="m_button_add">加入</li>
		<li location="m_button_submit">提交作品</li>
		<ul>
		</p>
	</div>
	<!--list_info end-->
</div>
<!--list_c end-->