<div class="c_c">
	<div class="c_c_l">
		<span class="c_span1">广告创意</span> <span class="c_span2">(共有90个项目)</span>
	</div>
	<!--c_c_l end-->
	<div class="c_c_r">
		<input type="text" class="c_text1" value="请输入项目名称" /><a
			class="c_button1" href="#">搜索</a>
	</div>
	<!--c_c_r end-->
	<div class="clear"></div>

	<ul class="w_ul2">
		<li class="w_current">推荐项目</li>
		<li>最新项目</li>
		<li>我参与的项目</li>
		<li>所有项目</li>
	</ul>

	<div class="c_c_list">

		<div class="list_c">
			<img src="../img/project/exm.jpg" class="list_img" />
			<div class="list_info">
				<p class="w_h">搜索创意征求活动</p>
				<p class="w_p1">
					<span class="w_span1">金额：</span><span class="w_span2">3000万</span><span
						class="w_span1">目前参与人数：</span><span class="w_span2">20人</span>
				</p>
				<p class="w_p2">
					<a href="#">加入</a><a href="#">提交作品</a>
				</p>
			</div>
			<!--list_info end-->
		</div>
		<!--list_c end-->

		<div class="list_c">
			<img src="../img/project/exm.jpg" class="list_img" />
			<div class="list_info">
				<p class="w_h">搜索创意征求活动</p>
				<p class="w_p1">
					<span class="w_span1">金额：</span><span class="w_span2">3000万</span><span
						class="w_span1">目前参与人数：</span><span class="w_span2">20人</span>
				</p>
				<p class="w_p2">
					<a href="#">加入</a><a href="#">提交作品</a>
				</p>
			</div>
			<!--list_info end-->
		</div>
		<!--list_c end-->

		<div class="list_c">
			<img src="../img/project/exm.jpg" class="list_img" />
			<div class="list_info">
				<p class="w_h">搜索创意征求活动</p>
				<p class="w_p1">
					<span class="w_span1">金额：</span><span class="w_span2">3000万</span><span
						class="w_span1">目前参与人数：</span><span class="w_span2">20人</span>
				</p>
				<p class="w_p2">
					<a href="#">加入</a><a href="#">提交作品</a>
				</p>
			</div>
			<!--list_info end-->
		</div>
		<!--list_c end-->

		<div class="list_c">
			<img src="../img/project/exm.jpg" class="list_img" />
			<div class="list_info">
				<p class="w_h">搜索创意征求活动</p>
				<p class="w_p1">
					<span class="w_span1">金额：</span><span class="w_span2">3000万</span><span
						class="w_span1">目前参与人数：</span><span class="w_span2">20人</span>
				</p>
				<p class="w_p2">
					<a href="#">加入</a><a href="#">提交作品</a>
				</p>
			</div>
			<!--list_info end-->
		</div>
		<!--list_c end-->

		<div class="list_c">
			<img src="../img/project/exm.jpg" class="list_img" />
			<div class="list_info">
				<p class="w_h">搜索创意征求活动</p>
				<p class="w_p1">
					<span class="w_span1">金额：</span><span class="w_span2">3000万</span><span
						class="w_span1">目前参与人数：</span><span class="w_span2">20人</span>
				</p>
				<p class="w_p2">
					<a href="#">加入</a><a href="#">提交作品</a>
				</p>
			</div>
			<!--list_info end-->
		</div>
		<!--list_c end-->

	</div>
	<!--c_c_list end-->


</div>
<!--c_c end-->