<div class="c_c">

	<div class="c_c_l">
		<div class="" location="m_title">广告创意</div> <div class="c_span2">(共有90个项目)</div>
	</div>
	<!--c_c_l end-->
	<div class="c_c_r">
		<input type="text" class="c_text1" value="请输入项目名称" /><a
			class="c_button1" href="#">搜索</a>
	</div>
	<!--c_c_r end-->
	<div class="c_clear"></div>

	<ul class="w_ul2">
		<li location="m_recommend">推荐项目</li>
		<li location="m_newest">最新项目</li>
		<li>我参与的项目</li>
		<li>所有项目</li>
	</ul>

	<div class="c_c_list" location="m_project_table">
	</div>
	<!--c_c_list end-->
</div>
<!--c_c end-->