<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- log by method is not fast. remove it later -->
		<encoder>
			<pattern>%date [%thread] %-5level [user:%X{userId}]%logger{80}|%L - %msg%n
			</pattern>
		</encoder>
	</appender>

    <logger name="com.klwork" level="DEBUG"/>

    <root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>