@mixin search {
	
/* ----------------------
   Search box - Textfield
   ---------------------- */
div.searchbox {
	border-right: 1px solid #c5c5c5;
	margin-left: -1px;
	background: none;	
}

.v-textfield.v-textfield-searchbox.searchbox, .v-textfield-focus.v-textfield-searchbox.searchbox  {
	margin:0;
	padding:3px 0 3px;
	height:19px;
	color:#666;
	font:11px/14px Arial, Helvetica, sans-serif;
	background:none;
	border:0;
}

.searchbox .v-csslayout-margin {
	background:url(../img/bg-input-l-1.gif) no-repeat;
	padding-left: 13px;
}
.searchbox .v-csslayout-container {
	background:url(../img/bg-input-r-1.gif) 100% 0 no-repeat;
}

.searchbox .v-csslayout {
	background:url(../img/bg-input-c-1.gif) repeat-x;	
}

/* ----------------------
   Search box - Sort menu
   ---------------------- */
.searchbox-sortmenu {
	background:url(../img/bullet-2.gif) no-repeat 100% 50%;
	border: none;
	color:#3c3c3c;
}

.v-menubar-searchbox-sortmenu .v-menubar-menuitem,
.v-menubar-searchbox-sortmenu .v-menubar-menuitem:hover,
.v-menubar-searchbox-sortmenu .v-menubar-menuitem-selected {
	color:#3c3c3c;
	background: none;
	text-shadow: none;
}

.v-menubar-popup .v-menubar-submenu-searchbox-sortmenu {
   background-color: #fff;
   color:#3c3c3c;
   text-shadow: none;
}
 
.v-menubar-popup .v-menubar-submenu-searchbox-sortmenu .v-menubar-menuitem-selected {
 	background: #eaeaea;
 	color: #464646;
 	text-shadow: none;
}
}